* {
    font-family: "Inter", "sans-seriff";
}

body {
    display: grid;
    grid-template-columns: 144px auto;
    grid-template-areas: 
        "header main"
        "footer footer";
    background-color: #f5f0e9;
}

header {
    grid-area: header;
}

header img {
    padding: 2em 2em 0 5em;
}

main {
    grid-area: main;
    display: grid;
    gap: 1em;
    grid-template-areas: "entrada-datos salida-datos";
    justify-content: stretch;
}

.entrada-datos {
    grid-area: entrada-datos;
    padding-top: 7em;
    padding-left: 4em;
}

.text-in {
    width: 100%;
    height: 60vh;
    resize: none;
    background-color: #f5f0e9;
    color: #d38a24;
    font-size: 2rem;
    border: none;
    outline: none;
}

.text-in::placeholder {
    color: #d38a24;
    font-size: 2rem;
}

.nota {
    padding: 0.5em 0;
    font-size: 0.75rem;
}

.area-botones {
    padding: 0.5em 0;
    white-space: nowrap;
}

.boton {
    width: 25em;
    height: 5em;
    margin: 0 1em;
    border: solid 2px;
    border-radius: 2em;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    transition: 0.2s;
}

.boton:hover {
    transform: scale(1.02);
    box-shadow: 0 0 5px 1px;
}

#boton-encriptar {
    background-color: #d38a24;
    border-color: #f0d5af;
    color: #fefefe;
}

#boton-desencriptar {
    background-color: #f6e6d1;
    border-color: #d38a24;
    color: #d38a24;
}

.salida-datos {
    background-color: #fefefe;
    grid-area: salida-datos;
    text-align: center;
    margin: 4em;
    height: 75vh;
    width: 30em;
    border-radius: 2em;
    box-shadow: 0 0 20px -10px;
}

.v-align {
    margin: 50% 0;
}

.imagen-no-texto {
    margin: 1em 0;
}

.mensaje-no-texto, .submensaje-no-texto, .text-out {
    padding: 0.5em 2em;
    color: #343A40;
}

.mensaje-no-texto {
    font-size: 1.5rem;
    font-weight: bold;
}

.submensaje-no-texto {
    color: #495057;
    font-size: 1rem;
}

#boton-copiar {
    background-color: #fefefe;
    border-color: #d38a24;
    color: #d38a24;
    margin: 2em 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    grid-area: footer;
    text-align: center;
    color: #495057;
    font-family: "Inter", "sans-seriff";
    font-size: 1rem;
    font-weight: bold;
    background: linear-gradient(#f5f0e9, #f9cc91);
}

.realizado-por {
    padding: 0.5em;
}

.links-contacto > li {
    width: 3em;
    height: 3em;
    display: inline-block;
    padding: 1em;
}

li img {
    max-width: 100%;
    max-height: 100%;
}

.invisible {
    display: none;
}