* {
    font-family: 'Inter', sans-serif;
}

header {
    margin-top: 1.5em;
    margin-left: 1em;
    width: 2em;
    height: 3em;
}

main {

}

.imagen-no-texto {
    display: none;
}

footer {

}

.invisible {
    display: none;
}